<nav class="grey darken-1">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">Nodejs-CRUD</a>
        <ul id="nav-mobile" class="right">
            <li><a href="./add-items">ADD-ITEMS</a></li>
        </ul>
    </div>
</nav>